extends layout

block content
    div.container
        div.row
            div.main-content
                form(method='POST' action='/addPatient').form-signin
                    h3.form-signin-heading Add a patient
                    div.input-field
                        label(for='fname') Patient First Name
                        input#fname(type='text', placeholder='First Name',
                        required='true', autofocus='true' name='fname')

                    div.input-field
                        label(for='lname') Patient Last Name
                        input#lname(type='text', placeholder='Last Name',
                        required='true', autofocus='true' name='lname')
                    div.input-field
                        label(for='age') Patient Age
                        input#age(type='number', placeholder='Age',
                        required='true', autofocus='true' name='age')
                    div.input-field
                        select#condition(name='condition')
                            option(value='alzheimers') Alzheimer's
                            option(value='dementia') Dementia
                        label Condition

                    div.input-field
                        label(for='user_email') Patient Email Address
                        input#user_email(type='email', placeholder='e-mail',
                        required='true', autofocus='true' name='user_email')
                    div.input-field
                        label(for='user_password') Patient Desired Password
                        input#user_password(type='password', placeholder='password',
                        required='true', autofocus='true' name='user_password')

                    div.input-field
                        label(for='tel') First of kin contact number
                        input#tel(type="tel" placeholder="0871234567" name="tel")

                    div.input-field
                        select#carer(name='carerID')
                            option(value='OuEriORcMkZIdX510lRnYdc7ksF2') John
                            option(value='OuEriORcMkZIdX510lRnYdc7ksF2') Sean
                        label Carer

                    input#submit.btn.btn-info(type='submit')